type project
id Ply.Net
authors Stefan Maierhofer
owners Stefan Maierhofer
projectUrl 
licenseUrl https://raw.githubusercontent.com/aardvark-platform/aardvark.algodat/master/src/Ply.Net/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat/tree/master/src/Ply.Net
description
    A parser for PLY point cloud data.
include-pdbs true
