*.swp
*.userprefs
**/obj
/packages
/src/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/sources.lock
/paket-files
/.fake
/.paket/paket.exe
bin/
obj/
**/Aardvark.log*
**/*.csproj.user
/src/Aardvark.log
**/teststore*
/test.pts
/src/packages
/src/pointcloud/Aardvark.log
