*.swp
*.userprefs
**/obj
/packages
/src/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/sources.lock
/paket-files
/.fake
/.paket/paket.exe
bin/
obj/
**/Aardvark.log*
**/*.csproj.user
**/*_generator.cs
/src/Aardvark.log
**/teststore*
/test.pts
/src/packages
/src/pointcloud/Aardvark.log
/.paket/Paket.Restore.targets
/src/Apps/points/*.user
/.paket
/src/Apps/HeraViewer/HeraViewer.fsproj.user
**/.DS_STORE
.ionide