framework: netcoreapp2.0, netcoreapp2.2, netstandard2.0

source https://api.nuget.org/v3/index.json

nuget FSharp.Core                       ~> 4.6.2

// aardvark.base
nuget Aardvark.Base                     ~> 5.0.0-prerelease0010
nuget Aardvark.Geometry                 ~> 5.0.0-prerelease0010
nuget Aardvark.Base.IO                  ~> 5.0.0-prerelease0010

// aardvark.rendering
nuget Aardvark.Base.Rendering           ~> 5.0.0-prerelease
nuget Aardvark.SceneGraph               ~> 5.0.0-prerelease
nuget Aardvark.Application.Utilities    ~> 5.0.0-prerelease
nuget Aardvark.Application.Slim         ~> 5.0.0-prerelease
nuget Aardvark.Application.Slim.GL      ~> 5.0.0-prerelease
nuget Aardvark.Application.Slim.Vulkan  ~> 5.0.0-prerelease

nuget Aardvark.Data.Durable             ~> 0.0.13

// 3rd-party
#nuget Crc32C.NET                       ~> 1.0.5
nuget Newtonsoft.Json                   ~> 11.0.2
nuget NUnit                             ~> 3.12.0
nuget NUnit3TestAdapter                 ~> 3.15.1
nuget Uncodium.Eigensystems             ~> 1.1.0-prerelease0001
nuget Uncodium.SimpleStore              ~> 2.0.0


nuget FShade                            ~> 5.0.0-prerelease
nuget Unofficial.DotSpatial.Projections ~> 0.0.4

nuget Microsoft.NET.Test.Sdk            ~> 16.1.1

group Build
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v5
