framework: netstandard2.0, net471

source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

// public repository
nuget Aardvark.Base                     ~> 4.2.0
nuget Aardvark.Base.IO                  ~> 4.2.0

// 3rd-party
#nuget Crc32C.NET                        ~> 1.0.5
nuget Newtonsoft.Json                   ~> 11.0.2
nuget NUnit                             ~> 3.10.0
nuget NUnit3TestAdapter                 ~> 3.10.0
nuget Uncodium.SimpleStore              ~> 2.0.0

group Build
framework: netstandard2.0
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4-temp

