type project
id Aardvark.Geometry.Clustering
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    Clustering of points, normals and planes.
include-pdbs true