type project
id Aardvark.Geometry.PointChunk
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
description
    An unstructured chunk of points.
include-pdbs true