type project
id Aardvark.Data.Points.LasZip
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl https://github.com/aardvark-platform/aardvark.algodat
licenseUrl https://raw.githubusercontent.com/aardvark-platform/aardvark.algodat/master/src/Aardvark.Data.Points.LasZip/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    A simple parser for LAS/LAZ point cloud data.
include-pdbs true
