type project
id Aardvark.Physics.Sky
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl https://github.com/aardvark-platform
licenseUrl https://raw.githubusercontent.com/aardvark-platform/aardvark.algodat/master/src/Aardvark.Physics.Sky/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    Physical sky models.
include-pdbs true