type project
id Aardvark.Geometry.BspTree
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    A high-performance BSP-tree implementation.
include-pdbs true