type project
id Aardvark.Geometry.PointTree
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    A high-performance kd-tree implementation for points.
include-pdbs true