type project
id Aardvark.Geometry.Intersection
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
description
    Intersectable object sets.
include-pdbs true