type project
id Aardvark.Data.Points.Base
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
description
    Point data base types.
include-pdbs true