type project
id Aardvark.Geometry.PolyMesh
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
description
    A polygonal mesh data structure.
include-pdbs true