type project
id Aardvark.Geometry.PolyMesh
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl https://github.com/aardvark-platform
licenseUrl https://raw.githubusercontent.com/aardvark-platform/aardvark.algodat/master/src/Aardvark.Geometry.PolyMesh/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    A polygonal mesh data structure.
include-pdbs true