type project
id Aardvark.Data.Ply
authors Stefan Maierhofer
owners Stefan Maierhofer
projectUrl https://github.com/stefanmaierhofer/Ply.Net
licenseUrl https://raw.githubusercontent.com/aardvark-platform/aardvark.algodat/master/src/Aardvark.Data.Points.LasZip/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    A parser for LAS/LAZ point cloud data (based on laszip.net).
include-pdbs true
