type project
id Aardvark.Geodetics
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.gnu.org/licenses/agpl.txt
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.algodat
description
    Geodetic projections
include-pdbs true